.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.modal{
    position: relative;
}
.cancel_icon{
    position:absolute;
    top:0;
    right:0;
    background-color: rgba(255, 255, 255, 0.473);
    border: 0;
    border-radius: 8;
}
.pagination{
    margin-top: 1%;
    padding: 0.5%;
    display:flex;
    justify-content: center;
}
.search_bar{
    margin-left: 12%;
    display: flex;
    align-items: center;
  }
  .nav_options{
    display: flex;
    align-items: center;
  }
  .search_input{
    padding: 0.4%;
  }
  .releaseDate{
    margin-left: 6%;
  }
.rating{
    margin-left: 2%;
  }
  .pageTitle {
    margin-left: 32%;
  }
  .content{
    position: absolute;
    top: 73px;
  }
  .search_icon{
    border:0;
  }